$color-bg: #fafafa;
$color-bg-detail: #c69466;
$color-text-primary: #000000;
$color-text-secondary: #ffffff;

$font-primary: "Space Grotesk", sans-serif;
$font-secondary: "Inter", sans-serif;

* {
  scroll-behavior: smooth;
}

body {
  background-color: $color-bg;
  color: $color-text-primary;
  font-family: $font-primary;
  margin: 0;
  padding: 0;
  letter-spacing: -1.3px;
}
