@use "../../variables.scss" as *;

#sobre {
  background-color: $color-bg-detail;
  padding: 2em 5%;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  color: $color-text-secondary;
  gap: 1em;
}

.about-headline {
  h1 {
    font-size: 2em;
    letter-spacing: -4px;
    font-style: italic;
  }
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 65vw;
}
